@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.white-section{
    background-color: white;
    color: #374151;
}

.dark-btn{
    background-color: #111827;
    color: white;
}